body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../../img/para_mostrar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgba(255, 3, 3, 0.3);
    color: #ffffff;
    text-shadow: 1px 1px rgb(0, 225, 255, 0.6);
    padding: 80px;
    border: 2px solid #fff;
    border-radius: 130px 30px 30px 20px;
    box-shadow: 4px 8px 8px rgba(253, 253, 253, 0.9);
}

.name {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 12px;
}

.img {
    width: 210px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 10px 60px;
    background-color:  rgba(206, 203, 203, 0.8);;
    box-shadow: 0 5px 5px rgb(0, 0, 0,1);
}

.abilities {
    font-size: 22px;
    font-style: italic;
    margin-top: 44px;
}

.pokemon {
    display: none;
}

#salir{
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-left: -20px;
    padding: 20px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 6px 6px 5px rgba(221, 219, 219, 0.6);
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    text-decoration: none;
}
